Customer/packages/*
Customer/Database/bin/*
Customer/Database/obj/*
Customer/Test/bin/*
Customer/Test/obj/*
Customer/Customer/bin/*
Customer/Customer/obj/*
Customer/Customer.BusinessLayer/bin/*
Customer/Customer.BusinessEntities/obj/*
Customer/Customer.BusinessLayer/bin/*
Customer/Customer.BusinessLayer/obj/*
Customer/Customer.DataLayer/bin/*
Customer/Customer.DataLayer/obj/*
Customer/Customer.BusinessEntities/bin/*
Customer/CustomerAuthentication/bin/*
Customer/CustomerAuthentication/obj/*
Customer/Customer.Logging/obj/*
Customer/Customer.Logging/bin/*
Customer/Customer/Customer.csproj
*.ide-shm
*.ide-wal
/Customer/.vs/Customer/v15/Server/sqlite3/storage.ide
/Customer/.vs/Customer/v15/Server/sqlite3/db.lock
/Customer/.vs/Customer/v15/.suo
